
.DS_Store
Data/simulations.RData
Modeling/Deprecated Modeling/ktc_parameter_values.RData
Modeling/Deprecated Modeling/simulations.RData
Modeling/Deprecated Modeling/tva_parameter_values.RData
/.Rproj.user
*.Rproj
.Rhistory
/Shiny/.Rproj.user
/Shiny/.Rproj.user
/Shiny/.Rproj.user
/Shiny/.Rproj.user
/Shiny/.Rproj.user/26A054E6/sources/prop
/Shiny/.Rproj.user
/Shiny/.Rproj.user
/Shiny/.Rproj.user
/Shiny/.Rproj.user
*.pper
